services:
  yt-downloader:
    build:
      context: ./services/yt-downloader
    volumes:
      - ./downloads:/app/downloads

  transcriber:
    build:
      context: ./services/transcriber
    environment:
      - PYTHONUNBUFFERED=1
    volumes:
      - ./downloads:/app/downloads

  translator:
    build:
      context: ./services/translator
    env_file:
      - .env
    volumes:
      - ./downloads:/app/downloads