services:
  yt-downloader:
    build:
      context: ./services/yt-downloader
    volumes:
      - ./downloads:/app/downloads

  transcriber:
    build:
      context: ./services/transcriber
    environment:
      - PYTHONUNBUFFERED=1
    volumes:
      - ./downloads:/app/downloads

  translator:
    build:
      context: ./services/translator
    env_file:
      - .env
    volumes:
      - ./downloads:/app/downloads

  tts: # Nowy, kompletny serwis TTS przejmuje rolę dubbera
    build:
      context: ./services/tts
    environment:
      - PYTHONUNBUFFERED=1
      - TARGET_LANGUAGE=${TARGET_LANGUAGE:-Polish} # Używa zmiennej z hosta lub domyślnie 'Polish'
    volumes:
      - ./downloads:/app/downloads
      - ./temp:/app/temp # Katalog tymczasowy dla plików audio
    # entrypoint: ["python", "/app/tts.py"] # Niepotrzebne, CMD w Dockerfile wystarczy