services:
  yt-downloader:
    build:
      context: ./services/yt-downloader
    volumes:
      - ./downloads:/app/downloads

  transcriber:
    build:
      context: ./services/transcriber
    environment:
      - PYTHONUNBUFFERED=1
    volumes:
      - ./downloads:/app/downloads

  translator:
    build:
      context: ./services/translator
    env_file:
      - .env
    volumes:
      - ./downloads:/app/downloads

  dubber:
    build:
      context: ./services/dubber
    environment:
      - PYTHONUNBUFFERED=1
      - COQUI_TOS_AGREED=1
    volumes:
      - ./downloads:/app/downloads
      - /dev/shm:/dev/shm
      - ./tts_models:/root/.local/share/tts
    entrypoint: ["python3", "/app/dubber.py"]